/* Cores */
:root{
    --roxo:#2A1F4F;
    --roxo_claro:rgb(53, 21, 68);
    --preto:#000000;
    --branco: #ffffff;
}

html { 
    margin:0; 
    padding:0; 
    width:100%;
}
body {
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--preto);
    display: table;
    background-color: var(--preto);
}
#background{
    background-image: url(../img/background.jpeg);
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
}
nav{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index:10;
    }
    .j1 {
        text-align: center;
    }
    .nav {
        justify-content: center;
        height: 82px;
    }
    ul {
        margin: 0px auto;
        width: 100%;
        height: 50px;
        list-style: none;
        background: var(--roxo);
    }
    li {
        margin-top: 26px;
        display: inline-block;
    }
    li a {
        text-decoration: none;
        color:var(--branco);
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        font-weight: lighter;
        font-size: 24px;
        transition: 1s;
        padding: 25px 30px;
    }
    li a:hover {
        transition: 1s;
        color:var(--roxo_claro);
        background: rgba(255, 255, 255, 0, 7);
    }
.container{
    margin-top: 50px;
}

#nome{
    /* position: relative;
    width: 219px;
    height: 59px;
    left: 590px;
    margin-top: 300px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 59px;


    color: var(--branco);
}

#descrição {
    /* position: relative;
    width: 448px;
    height: 69px;
    left: 590px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: var(--branco);
}

#imagem{
    /* foto portifólio 1 */
    /* position: absolute; */
    /* margin-top: 20px; */
    margin-right: 100px;
    width: 200px;
    height: 200px;
    left: 232px;
    border-radius: 148px;
}

i{
    color: var(--roxo);
    font-size: 30px;
    margin-top: 10px;
    padding: 10px;
}


  
